/ElectionsPlatform/nbproject/private/
/ElectionsPlatform/build/
/ElectionsPlatform/dist/
/ElectionsPlatform/wordpress/nbproject/private/
/journalismwp/metadeta/journalismwp/nbproject/private/
/ccsujournalism/nbproject/private/
/ElectionsPlatform-deprecated/build/
/ElectionsPlatform-deprecated/nbproject/private/